# Exclude the virtual environment
venv/

# Exclude the generated .egg-info files
*.egg-info/

# Exclude the test folder 
testing/

# Escludere le cartelle __pycache__ (file cache di Python)
__pycache__/
*.py[cod]

# Exclude the temporary files
modified.png
auxconstant.txt
